@charset "utf-8";
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  background: linear-gradient(#41342b, #60342e, #41342b);
  font-family: "Klee One", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
}
img {
  vertical-align: bottom;
}
ul {
  list-style: none;
}
.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  color: white;
}

.topback {
  position: fixed;
  bottom: 10%;
  right: 5%;
  font-size: 2em;
  color: white;
}
/* menu */
.menubtn {
  z-index: 999;
  position: fixed;
  top: 30px;
  right: 11%;
  border-radius: 50%;
  cursor: pointer;
}
#menutext {
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(255, 255, 255);
  font-size: 1em;
}
.menubeans {
  width: 90px;
  height: 90px;
  object-fit: cover;
  animation: rotateAnimation 7s infinite; /* 2秒で1回転、無限ループ */
  transform-origin: center; /* 回転の中心をdivの中央に設定 */
}
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg); /* 開始時の角度 */
  }
  100% {
    transform: rotate(360deg); /* 360度回転 */
  }
}
/* メニューが表示されるときのアニメーション */
#spmenu.show {
  display: flex;
}

/* リストアイテムがアニメーションで表示されるように */
#spmenu.show ul li {
  opacity: 1;
  transform: translateY(0);
  animation: typing 2s forwards; /* タイピングアニメーション */
}
/* タイピングアニメーション */

@keyframes typing {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

/* メニューリンクのタイピングを制御 */
#spmenu ul li a {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 2.5px;
  animation: typing 2s forwards;
}
.spmenu {
  display: none;
  list-style-type: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.spmenu ul {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav .spmenu li {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* 初めは非表示 */
  transform: translateY(0px); /* 少し下にずらしてスタート */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

nav .spmenu li a {
  color: white;
  font-size: 1em;
  text-align: center;
  margin-top: 10px;
}
nav .spmenu li:nth-child(1) {
  text-align: left;
  font-size: 1.5em;
  margin: 20px 0 5px 0;
  font-family: "dolly-small-caps-new", sans-serif;
  font-weight: 400;
  font-style: normal;
}
nav .spmenu li:nth-child(6) {
  text-align: left;
  font-size: 1.5em;
  margin: 20px 0 10px 0;
  font-family: "dolly-small-caps-new", sans-serif;
  font-weight: 400;
  font-style: normal;
}
nav .spmenu li:nth-child(9) {
  width: 70%;
}
nav .spmenu li:nth-child(10) {
  margin-bottom: 10%;
}

nav .spmenu li a:hover {
  text-decoration: underline;
}
nav .spmenu li {
  padding: 10px;
}
.pc,
.pc2 {
  display: none;
}

.pcmenu {
  display: none;
}
nav .spmenu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  display: none;
  padding: 5px 0;
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
}

.close {
  position: absolute;
  top: 27.5px;
  right: 37.5px;
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
}
.topback {
  width: 20%;
  height: fit-content;
  position: fixed;
  bottom: 0vh;
  right: 0vw;
  padding: 5% 0;
  font-size: 1.2rem;
  color: white;
  z-index: 10;
  background-color: #daae8f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reservation {
  width: 80%;
  height: fit-content;
  position: fixed;
  bottom: 0vh;
  left: 0vw;
  padding: 5% 0;
  font-size: 1.2rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  background-color: #daae8f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ffffff;
  display: none;
}

@media screen and (min-width: 768px) {
  .menubtn {
    top: 45px;
    right: 11%;
  }
  #menutext {
    top: 40px;
    left: 50%;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
  }
  .menubeans {
    width: 120px;
    height: 120px;
  }
  nav .spmenu {
    width: 30%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .spmenu ul {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10%;
  }
  .spmenu ul li {
    height: 10px 0px;
    margin: 0;
    font-size: 1em;
    text-align: right;
  }
  nav .spmenu li:nth-child(1) a {
    text-align: left;
    font-size: 1em;
    font-family: "dolly-small-caps-new", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  nav .spmenu li:nth-child(6) a {
    text-align: left;
    font-size: 1em;
    font-family: "dolly-small-caps-new", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  nav .spmenu li:nth-child(9) {
    width: 90%;
  }
  .close {
    top: 20px;
    right: 20px;
    font-size: 1em;
  }
  .topback {
    font-size: 2rem;
  }
  .reservation {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .menubtn {
    display: none;
  }
  nav {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    height: 140px;
    transition: top 0.3s; /* スムーズなアニメーション */
    display: flex;
    justify-content: center;
  }
  .cafemenu {
    width: 30%;
    margin-right: 50px;
  }
  .staymenu {
    width: 30%;
    margin-left: 50px;
  }
  .pc {
    display: block;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
    position: relative;
  }
  .cafemenu .pc {
    display: flex;
    justify-content: flex-end;
  }
  .pc li {
    height: 50px;
  }
  .pc li:nth-child(n + 2) {
    width: fit-content;
    text-align: start;
  }
  .pc li a {
    text-decoration: none;
    color: white;
    font-size: 2em;

    font-family: "dolly-small-caps-new", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .pcmenu {
    display: block;
    width: 100px;
    height: 100px;
    position: relative;
  }
  .pcbeans {
    position: absolute;
    top: 15%;
    left: 0;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    animation: rotateAnimation 7s infinite; /* 2秒で1回転、無限ループ */
  }
  #pctext {
    text-align: center;
    margin-top: 50px;
    color: white;
  }
  .pc2 {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 10px;
  }
  .pc2:nth-child(1) li:nth-child(n + 2) {
    margin-right: 5%;
  }
  .pc2:nth-child(2) li:nth-child(n + 2) {
    margin-left: 5%;
  }
  .pc2 li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
  }
  @keyframes rotateAnimation {
    0% {
      transform: rotate(0deg); /* 開始時の角度 */
    }
    100% {
      transform: rotate(360deg); /* 360度回転 */
    }
  }
  .topback {
    width: 100px;
    height: 100px;
    bottom: 15vh;
    right: 5vw;
    font-size: 1.2em;
    border-radius: 50%;
    padding: 0;
  }
  .reservation {
    display: none;
    padding: 0 1%;
    width: 25%;
    height: 5%;
    bottom: 5vh;
    left: 72vw;
    font-size: 1.2em;
    border: none;
    border-radius: 8px;
  }
}

/* main */
main {
  width: 90%;
  margin: auto;
}
main h1 {
  padding-top: 80px;
  border-bottom: 1px dashed white;
  font-size: 2em;
  display: block;
}
form {
  width: 90%;
  margin: 20px auto 100px;
}
label {
  margin-top: 8px;
}

input,
select {
  width: 100%;
  height: 25px;
  border-radius: 4px;
}

textarea {
  height: 25px;
  border-radius: 4px;
}

#submit-btn {
  display: block;
  width: 90%;
  margin: 10px auto;
}
.agree-container label {
  display: block;
  width: fit-content;
  margin: auto;
  font-size: 0.8rem;
}
textarea {
  width: 100%;
}
.white {
  color: white;
  text-decoration: underline;
}
fieldset {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin: 20px 0;
  gap: 20px;
}

fieldset:nth-of-type(1) div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
}
fieldset:nth-of-type(2) div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
fieldset div label {
  width: fit-content;
  position: relative;
}

.pwidth {
  font-size: 1rem;
  width: 80%;
}

form div {
  margin-top: 20px;
}
.error-mark {
  font-size: 0.8rem;
  display: block;
}
#agree {
  display: block;
  width: 10%;
  margin: auto;
}
#confirmationMessage {
  display: none;
  text-align: center;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  main h1 {
    padding-top: 140px;
  }
  main {
    font-size: 1.5rem;
  }
  input,
  select,
  textarea {
    height: 50px;
  }
  fieldset {
    font-size: 1.5rem;
  }
  form div {
    margin-top: 40px;
  }
  fieldset {
    justify-content: center;
  }
  .agree-container label {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  main h1 {
    padding-top: 250px;
    margin-left: 50px;
  }
  .mainwrapper {
    padding-bottom: 150px;
    padding-top: 50px;
  }

  input,
  select {
    height: 40px;
  }
  textarea {
    height: 200px;
  }

  form div label {
    display: flex;
    align-items: center;
    margin: 0;
  }
  #agree {
    width: 10%;
  }
  /* 送信ボタン */
  .submit-btn {
    margin-top: 100px;
  }
  #confirmationMessage {
    font-size: 2rem;
  }
}
/* footer */
footer {
  margin-top: 5%;
  margin-bottom: 20%;
}
footer div {
  text-align: center;
}
footer div div {
  margin-bottom: 7%;
}
footer div div a {
  display: block;
  width: 80%;
  margin: auto;
  margin-bottom: 5%;
  text-decoration: none;
  color: #fff;
  border: 1px solid white;
  padding: 1%;
  border-radius: 8px;
}
footer div p {
  color: white;
  font-size: 0.5rem;
}
