@charset "utf-8";
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(#41342b, #60342e, #41342b);
  width: 100vw;
  height: 100vh;
}
img {
  width: 100%;
  vertical-align: bottom;
}
body {
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 1130px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  color: white;
}
.topback {
  position: fixed;
  bottom: 10%;
  right: 5%;
  font-size: 2em;
  color: white;
}
/* menu */
.menubtn {
  z-index: 999;
  width: 180px;
  height: 180px;
  position: fixed;
  top: 54px;
  right: 6%;
  border-radius: 50%;
  cursor: pointer;
}
#menutext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 1.6em;
}
.menubeans {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
  animation: rotateAnimation 7s infinite; /* 2秒で1回転、無限ループ */
  transform-origin: center; /* 回転の中心をdivの中央に設定 */
}
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg); /* 開始時の角度 */
  }
  100% {
    transform: rotate(360deg); /* 360度回転 */
  }
}
/* メニューが表示されるときのアニメーション */
#menu.show {
  display: flex;
}

/* リストアイテムがアニメーションで表示されるように */
#menu.show ul li {
  opacity: 1;
  transform: translateY(0);
  animation: typing 2s forwards; /* タイピングアニメーション */
}
/* タイピングアニメーション */
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* メニューリンクのタイピングを制御 */
#menu ul li a {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 5px;
  animation: typing 2s forwards;
}
.menu {
  display: none;
  list-style-type: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu ul {
  width: 600px;
}
nav .menu li {
  margin: 100px 0px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* 初めは非表示 */
  transform: translateY(0px); /* 少し下にずらしてスタート */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

nav .menu li a {
  color: white;
  text-decoration: none;
  font-size: 2em;
  text-align: center;
}
nav .menu li:nth-child(1) a {
  text-align: left;
  font-size: 3em;
}
nav .menu li:nth-child(6) a {
  text-align: left;
  font-size: 3em;
}

nav .menu li a:hover {
  text-decoration: underline;
}
nav .menu li {
  padding: 20px;
}
.pc,
.pc2 {
  display: none;
}

.pcmenu {
  display: none;
}
nav .menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  display: none;
  padding: 10px 0;
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
}

.close {
  position: absolute;
  top: 55px;
  right: 75px;
  color: #fff;
  font-size: 100px;
  font-weight: bold;
  cursor: pointer;
}
.topback {
  position: fixed;
  bottom: 10%;
  right: 5%;
  font-size: 2em;
  color: white;
  z-index: 1;
}
.reservation {
  position: fixed;
  bottom: 5%;
  right: 5%;
  font-size: 1.5em;
  color: white;
  z-index: 1;
}

/* main */
main {
  width: 1130px;
  margin-top: 200px;
}
main h1 {
  padding-top: 190px;
}
.white {
  color: white;
}
/* footer */
footer div {
  width: 1130px;
  margin: auto;
  text-align: center;
}
footer div p {
  color: white;
}
/* メディアクエリ */
@media screen and (min-width: 768px) {
  nav .menu {
    width: 30%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .menu ul {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 100px;
  }
  .menu ul li {
    height: 50px 0px;
    margin: 0;
    font-size: 0.8em;
    text-align: right;
  }
  nav .menu li:nth-child(1) a {
    text-align: left;
    font-size: 2em;
  }
  nav .menu li:nth-child(6) a {
    text-align: left;
    font-size: 2em;
  }
  .close {
    top: 50px;
    right: 50px;
    font-size: 3em;
  }
}
@media screen and (min-width: 1130px) {
  .menubtn {
    right: 7%;
  }
}
@media screen and (min-width: 1200px) {
  .menubtn {
    display: none;
  }
  nav {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    height: 140px;
    transition: top 0.3s; /* スムーズなアニメーション */
    display: flex;
    justify-content: center;
  }
  .cafemenu {
    width: 30%;
    margin-right: 50px;
  }
  .staymenu {
    width: 30%;
    margin-left: 50px;
  }
  .pc {
    display: block;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
    position: relative;
  }
  .cafemenu .pc {
    display: flex;
    justify-content: flex-end;
  }
  .pc li {
    height: 50px;
  }
  .pc li:nth-child(n + 2) {
    width: fit-content;
    text-align: start;
  }
  .pc li a {
    text-decoration: none;
    color: white;
    font-size: 2em;
  }
  .pcmenu {
    display: block;
    width: 100px;
    height: 100px;
    position: relative;
  }
  .pcbeans {
    position: absolute;
    top: 15%;
    left: 0;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    animation: rotateAnimation 7s infinite; /* 2秒で1回転、無限ループ */
  }
  #pctext {
    text-align: center;
    margin-top: 50px;
    color: white;
  }
  .pc2 {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 10px;
  }
  .pc2:nth-child(1) li:nth-child(n + 2) {
    margin-right: 5%;
  }
  .pc2:nth-child(2) li:nth-child(n + 2) {
    margin-left: 5%;
  }
  .pc2 li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
  }
  @keyframes rotateAnimation {
    0% {
      transform: rotate(0deg); /* 開始時の角度 */
    }
    100% {
      transform: rotate(360deg); /* 360度回転 */
    }
  }
}
/* main */
h1 {
  border-bottom: 1px dashed white;
  width: 300px;
}
main {
  margin: auto;
  position: relative;
}
main h1 {
  display: block;
  margin-left: 50px;
  position: absolute;
  top: 0;
  left: 0;
}
.mainwrapper {
  width: 600px;
  padding-bottom: 150px;
  padding-top: 300px;
  margin: auto;
}
#name {
  width: 400px;
  height: 50px;
  border-radius: 8px;
}
#name,
#postal_code,
#prefecture,
#city,
#address,
#email,
#phone,
#checkin,
#checkout,
#adults,
#children,
#notes,
.submit-btn {
  width: 100%;
  height: 50px;
  border-radius: 8px;
}
#name,
#postal_code,
#prefecture,
#city,
#email,
#phone,
#checkin,
#checkout,
#adults,
#children {
  width: 50%;
  height: 50px;
  border-radius: 8px;
}
/*標準表示のチェックボックスを非表示にする*/
#agree {
  display: none;
}

/*ボックス枠のCSS*/
.label_test:after {
  position: absolute;
  display: block;
  top: 150px;
  left: 15px;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50%;
}

.label_test {
  position: relative;
}

.label_test:hover:after {
  border: 5px double white;
  position: absolute;
  top: 35px;
  left: 41px;
  transform: translate(-50%, -50%);
}
.label_test:after,
.label_test:before {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
}
.agreebtn {
  height: 100px;
}
.white {
  margin-left: 200px;
}
/*チェックマークの追加*/
.label_test:before {
  left: 35px;
  top: 20px;
  width: 9px; /* チェックマークの幅 */
  height: 18px; /* チェックマークの高さ */
  border: solid white;
  border-width: 0 1px 1px 0; /* チェックマークの線を作成 */
  transform: rotate(45deg);
  opacity: 0;
}
/*チェックボックスがチェックされた時に動作する内容*/
input[type="checkbox"]:checked + .label_test:before {
  opacity: 1;
}
/* 送信ボタン */
.submit-btn {
  /* buttonタグのリセットCSS */
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  appearance: none;

  color: #fff;
  background-color: #3abec1;
  cursor: pointer; /* ポインターカーソルを表示 */
  margin-top: 100px;
}

.submit-btn[disabled] {
  background-color: #ccc;
  cursor: not-allowed; /* クリック不可のカーソルを表示 */
}
