@charset "utf-8";
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  background: linear-gradient(#41342b, #60342e, #41342b);
}
img {
  width: 100%;
  vertical-align: bottom;
}
.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  position: relative;
  color: white;
  font-family: "Klee One", cursive;
  font-weight: 400;
  font-style: normal;
}
@media screen and (min-width: 768px) {
  .wrapper {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper {
    width: 95%;
  }
}
h1 {
  text-align: left;
  color: #fff;
  font-family: "dolly-small-caps-new", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 5rem;
  }
}
#loading {
  background: white;
  display: none;
}

/* menu */
.menubtn {
  z-index: 100;
  position: fixed;
  top: 35px;
  right: 11%;
  cursor: pointer;
}
#menutext {
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
}
.menubeans {
  width: 80px;
  height: 80px;
  animation: rotateAnimation 7s infinite;
}
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#spmenu.show {
  display: flex;
}
#spmenu.show ul li {
  opacity: 1;
  transform: translateY(0);
  animation: typing 2s forwards;
}
@keyframes typing {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}
.spmenu {
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  padding: 5px 0;
  z-index: 100;
  top: 0;
  right: 0;
}
.spmenu ul {
  width: 90%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.spmenu ul li {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.spmenu li a {
  color: white;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  animation: typing 2s forwards;
}
.spmenu li:nth-child(1),
.spmenu li:nth-child(6) {
  font-size: 2em;
  font-family: "dolly-small-caps-new", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 5%;
}
nav .spmenu li:nth-child(9) {
  width: 70%;
}
nav .spmenu li:nth-child(10) {
  margin-bottom: 10%;
}
.close {
  position: absolute;
  top: 27.5px;
  right: 37.5px;
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
}
.pc,
.pc2 {
  display: none;
}
.pcmenu {
  display: none;
}
.topback {
  width: 20%;
  height: fit-content;
  position: fixed;
  bottom: 0vh;
  right: 0vw;
  font-size: 1.2rem;
  color: white;
  z-index: 10;
  background-color: #daae8f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
}
.reservation {
  width: 81%;
  height: fit-content;
  position: fixed;
  bottom: 0vh;
  right: 19vw;
  padding: 5% 0;
  font-size: 1.2rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  background-color: #daae8f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ffffff;
}
.spdbine-height {
  line-height: 90%;
}
@media screen and (min-width: 768px) {
  .menubtn {
    top: 45px;
    right: 11%;
  }
  #menutext {
    top: 40px;
    left: 50%;
    font-size: 1.4rem;
  }
  .menubeans {
    width: 120px;
    height: 120px;
  }
  .spmenu {
    width: 30%;
    height: 100vh;
  }
  .spmenu ul {
    justify-content: space-around;
    margin-top: 10%;
  }
  .spmenu ul li {
    height: 10px 0px;
  }
  .spmenu li:nth-child(9) {
    width: 100%;
  }
  .spmenu li:nth-child(2) {
    width: 80%;
  }
  .spmenu li:nth-child(1) {
    width: 60%;
  }
  .spmenu li:nth-child(6) {
    width: 60%;
  }
  .close {
    top: 20px;
    right: 20px;
  }
  .topback {
    font-size: 2rem;
  }
  .reservation {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .menubtn {
    display: none;
  }
  nav {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    height: 150px;
    transition: top 0.3s;
    display: flex;
    justify-content: center;
    gap: 2%;
  }
  .cafemenu {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .staymenu {
    width: 40%;
  }
  .pc {
    display: block;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
    position: relative;
  }
  .cafemenu .pc {
    justify-content: flex-end;
  }
  .pc li {
    height: 50px;
  }
  .pc li:nth-child(n + 2) {
    width: fit-content;
    text-align: start;
  }
  .pc li a {
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-family: "dolly-small-caps-new", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .cafemenu .pc2 {
    width: 95%;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    margin-top: 10px;
    margin-right: 0;
  }
  .staymenu .pc2 {
    width: 109%;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    list-style: none;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 0;
  }
  .dbheight {
    text-align: center;
  }
  .cafemenu .pc2 li {
    margin-left: 5%;
  }
  .staymenu .pc2 li {
    margin-right: 5%;
  }
  .pc2 li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
  }
  .pcmenu {
    display: block;
    width: 100px;
    height: 100px;
    position: relative;
  }
  .pcbeans {
    position: absolute;
    top: 15%;
    left: 0;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    animation: rotateAnimation 7s infinite;
  }
  #pctext {
    text-align: center;
    margin-top: 50px;
  }
  @keyframes rotateAnimation {
    0% {
      transform: rotate(0deg); /* 開始時の角度 */
    }
    100% {
      transform: rotate(360deg); /* 360度回転 */
    }
  }
  .topback {
    width: 100px;
    height: 100px;
    bottom: 15vh;
    right: 5vw;
    padding: 0;
    margin-left: 10%;
    border-radius: 50%;
  }
  .reservation {
    padding: 0 1%;
    width: fit-content;
    height: 8%;
    bottom: 5vh;
    right: 5vw;
    font-size: 1.2em;
    border: none;
    border-radius: 8px;
  }
}

/* main */
.border {
  border-bottom: 1px dashed white;
}

/* hero*/
.hero {
  position: relative;
}
.logo {
  width: 20%;
  position: absolute;
  z-index: 1;
  top: 74px;
  left: 23px;
  transform: translateY(-50%);
}
.slide-container .active {
  opacity: 1;
}
.slide-container {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.slide-container img {
  width: 100%;
  height: 140px;
  position: absolute;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 120px;
    top: 105px;
    left: 40px;
  }
  .slide-container {
    height: 200px;
  }
  .slide-container img {
    height: 200px;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    padding-top: 220px;
  }
  .logo {
    width: 170px;
    top: 410px;
  }
  .slide-container {
    height: 350px;
  }
  .slide-container img {
    height: 350px;
  }
}

/* info */
#info {
  padding-top: 20%;
  position: relative;
}
.info-container {
  width: 95%;
  margin: auto;
}
#info .info-new {
  text-align: left;
  border: 0.5px solid white;
}
#info .info-old {
  height: fit-content;
  display: none;
  text-align: left;
  border-bottom: 0.5px solid white;
  border-left: 0.5px solid white;
  border-right: 0.5px solid white;
  margin-top: 0;
}
#info div p a:nth-child(2) {
  text-align: center;
  display: block;
  padding-left: 10px;
  color: white;
  text-decoration: underline;
}

.more-btn {
  display: block;
  cursor: pointer;
  width: 20%;
  padding: 5% 0;
  margin: 10px auto 10px;
  color: white;
  background: #daae8f;
  font-family: "Klee One", cursive;
  font-weight: 400;
  font-style: normal;
}
@media screen and (min-width: 768px) {
  #info {
    padding-top: 15%;
    margin-top: 5%;
  }
  #info .info-new {
    text-align: center;
  }
  #info .info-old {
    text-align: center;
  }
  .info-new p span:nth-child(1),
  .info-old p span:nth-child(1) {
    text-align: left;
  }
  #info .info-new {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
  }
  #info .info-old {
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
  }
  .more-btn {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  #info {
    margin-top: 0;
    padding-top: 10%;
  }
  #info .border {
    top: 50px;
    margin-top: 0px;
  }
  .info-container {
    width: 60%;
    margin: auto;
  }
  #info div p {
    padding: 10px;
  }
  #info div p span {
    padding-left: 20px;
  }
  .more-btn {
    width: 9%;
    padding: 2% 0;
    border-radius: 8px;
  }
}

/* drink */
#drink {
  padding-top: 20%;
  margin: 5%;
}
.drink-menu .container .square {
  width: 40%;
  padding-top: 29%;
  color: white;
  border: white 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
  position: relative;
}
.drink-menu .container .square div {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
}
.square span {
  display: block;
  text-align: center;
}
.drink-menu .container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: left;
  padding-top: 20%;
}
.drink-menu .container::before {
  width: 55%;
  height: 55%;
  z-index: -1;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.643);
}
.drink-menu .container:after {
  width: 110%;
  height: 1%;
  content: "";
  position: absolute;
  bottom: -10%;
  left: -5%;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    white,
    rgba(255, 255, 255, 0)
  );
}
.drink-menu .container img {
  width: 65%;
  margin-bottom: 2%;
  margin-left: 2%;
}
@media screen and (min-width: 768px) {
  #drink {
    padding-top: 15%;
    padding-bottom: 10%;
    margin-top: 5%;
  }
  .drink-menu .container .square div {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  #drink {
    padding-top: 10%;
    padding-bottom: 0;
    margin: 0;
  }
  #drink .border {
    top: 50px;
  }
  .drink-menu .container {
    margin: 0;
  }
  .drink-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    gap: 2%;
  }
  .drink-menu .container .square div {
    font-size: 1.2rem;
  }
  .drink-menu .container:last-of-type::after {
    bottom: -20px;
    left: 0px;
    width: 200%;
  }
  .drink-menu .container:nth-of-type(-n + 4)::after {
    display: none;
  }
}

/* food */
#food {
  padding-top: 20%;
  margin: 5%;
}
.food-menu .container .square {
  width: 40%;
  padding-top: 29%;
  color: white;
  border: white 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
  position: relative;
}
.food-menu .container .square div {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
}
.food-menu .container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: left;
  padding-top: 20%;
}
.food-menu .container::before {
  width: 55%;
  height: 55%;
  z-index: -1;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.643);
}
.food-menu .container:after {
  width: 110%;
  height: 1%;
  content: "";
  position: absolute;
  bottom: -10%;
  left: -5%;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    white,
    rgba(255, 255, 255, 0)
  );
}
.food-menu .container img {
  width: 65%;
  margin-bottom: 2%;
  margin-right: 2%;
}
@media screen and (min-width: 768px) {
  #food {
    padding-top: 15%;
    padding-bottom: 10%;
    margin: 0 5% 0 5%;
  }
  .food-menu .container .square div {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  #food {
    padding-top: 10%;
    padding-bottom: 0;
    margin: 6% 0 0 0;
  }
  #food .border {
    top: 50px;
  }
  .food-menu .container {
    justify-content: center;
    margin: 0;
  }
  .food-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 2%;
    margin-top: 5%;
  }
  .food-menu .container .square div {
    font-size: 1.2rem;
  }
  .food-menu .container:nth-of-type(3)::after {
    bottom: -20px;
    left: 0%;
    width: 200%;
  }
  .food-menu .container:nth-of-type(-n + 2)::after,
  .food-menu .container:nth-of-type(4)::after {
    display: none;
  }
}

/* access */
#access {
  padding-top: 20%;
  margin: 5%;
}
#access .container div:nth-child(1) {
  width: fit-content;
  margin: auto;
  order: 2;
}
#map-sepia {
  width: 100%;
  filter: sepia(100%);
  margin-bottom: 25px;
  order: 1;
}
#map-grayscale {
  width: 99%;
  height: 160px;
  margin: auto;
}
#access .container {
  width: 100%;
  margin-top: 20%;
  color: white;
  line-height: 17.5px;
  display: flex;
  flex-direction: column;
}
.concept {
  position: relative;
  padding-top: 80%;
  margin-top: 50px;
}
.concept p {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  text-align: center;
  width: 110%;
  font-family: "fot-klee-pro", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.2em;
  color: white;
  line-height: 28px;
}
.steam {
  display: block;
  z-index: -1;
  width: 60%;
  margin: auto;
  opacity: 0.3;
  animation: rise 10s infinite linear;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes rise {
  0% {
    top: 50%;
    left: 50%;
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    top: 0;
    left: 50%;
    opacity: 0;
  }
}
.flipbook {
  width: 50%;
  margin: auto;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.flipbook img {
  display: none;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  #access {
    padding-top: 15%;
    margin: 0 5%;
  }
  #access .container {
    width: 120%;
  }
  #map-grayscale {
    width: 100%;
    height: 30%;
    margin-bottom: 0;
  }
  #map-sepia {
    height: 340px;
    margin-bottom: 10px;
  }
  .container {
    width: 65%;
    margin: auto;
  }
  .container div:nth-child(1) {
    width: fit-content;
    margin: auto;
  }
  .container div:nth-child(1) p {
    width: fit-content;
    font-size: 1rem;
  }
  .concept {
    width: 80%;
    margin-top: 100px;
    padding-top: 50%;
  }
  main section:nth-child(5) div:nth-child(2) {
    display: flex;
  }
  .concept p {
    top: 30%;
    left: 60%;
    font-size: 1rem;
    width: 110%;
  }
  .flipbook {
    width: 70%;
    top: 80%;
    left: 55%;
  }
  .steam {
    width: 70%;
  }
  @keyframes rise {
    0% {
      top: 80%;
      left: 55%;
      opacity: 0;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      top: 45%;
      left: 55%;
      opacity: 0;
    }
  }
}
@media screen and (min-width: 1024px) {
  main section:nth-child(5) div:nth-child(2) {
    display: flex;
    gap: 3%;
  }
  #access .container {
    width: 90%;
  }
  #map-grayscale {
    width: 100%;
    height: 360px;
    margin: 0;
  }
  #access .container div:nth-child(1) {
    width: 100%;
    margin: 0;
  }
  #access .container div:nth-child(1) p {
    width: 62%;
    line-height: 120%;
    margin: auto;
    font-size: 1.2rem;
  }

  #access {
    padding-top: 10%;
    margin: 3% 0 0 0;
  }
  #access .border {
    top: 50px;
    width: 500px;
  }
  #access .container {
    margin-top: 100px;
    margin-left: 2%;
  }
  .concept {
    width: 60%;
    padding-top: 50%;
  }
  .concept p {
    top: 30%;
    left: 48%;
    width: 130%;
    font-size: 1.4rem;
  }
  .flipbook {
    top: 70%;
    left: 50%;
    width: 80%;
  }
  .steam {
    width: 70%;
  }
  @keyframes rise {
    0% {
      top: 70%; /* 初期位置を画面の40%の高さに設定 */
      left: 50%;
      opacity: 0;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      top: 35%; /* 最終位置を画面の10%の高さに設定 */
      left: 50%;
      opacity: 0;
    }
  }
  @keyframes sway {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(50px);
    }
    100% {
      transform: translateX(0);
    }
  }
}

/* footer */
footer {
  margin-top: 5%;
  margin-bottom: 20%;
}
footer div {
  text-align: center;
}
footer div div {
  margin-bottom: 7%;
}
footer div div a {
  display: block;
  width: 80%;
  margin: auto;
  margin-bottom: 1%;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 1%;
  border-radius: 8px;
}
footer div p {
  color: white;
  font-size: 0.5rem;
}
@media screen and (min-width: 768px) {
  footer {
    margin-top: 0;
    padding-top: 10%;
  }
  footer div div a {
    width: 60%;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    margin-top: 0;
    padding-top: 10%;
    margin-bottom: 2%;
  }
  footer div div a {
    width: 35%;
  }
}
