/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(#41342b, #60342e, #41342b);
}
img {
  width: 100%;
  vertical-align: bottom;
}
.wrapper {
  width: 90%;
  margin: auto;
  position: relative;
  z-index: 2;
}
/* menu */
.menubtn {
  z-index: 999;
  width: 90px;
  height: 90px;
  position: fixed;
  top: 27px;
  right: 3%;
  border-radius: 50%;
  cursor: pointer;
}
#menutext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 1.6em;
}
.menubeans {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
  animation: rotateAnimation 7s infinite; /* 2秒で1回転、無限ループ */
  transform-origin: center; /* 回転の中心をdivの中央に設定 */
}
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg); /* 開始時の角度 */
  }
  100% {
    transform: rotate(360deg); /* 360度回転 */
  }
}
/* メニューが表示されるときのアニメーション */
#spmenu.show {
  display: flex;
}

/* リストアイテムがアニメーションで表示されるように */
#spmenu.show ul li {
  opacity: 1;
  transform: translateY(0);
  animation: typing 2s forwards; /* タイピングアニメーション */
}
/* タイピングアニメーション */
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* メニューリンクのタイピングを制御 */
#spmenu ul li a {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 2.5px;
  animation: typing 2s forwards;
}
.spmenu {
  display: none;
  list-style-type: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.spmenu ul {
  width: 300px;
}
nav .spmenu li {
  margin: 50px 0px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* 初めは非表示 */
  transform: translateY(0px); /* 少し下にずらしてスタート */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

nav .spmenu li a {
  color: white;
  text-decoration: none;
  font-size: 2em;
  text-align: center;
}
nav .spmenu li:nth-child(1) a {
  text-align: left;
  font-size: 3em;
}
nav .spmenu li:nth-child(6) a {
  text-align: left;
  font-size: 3em;
}

nav .spmenu li a:hover {
  text-decoration: underline;
}
nav .spmenu li {
  padding: 10px;
}
.pc,
.pc2 {
  display: none;
}

.pcmenu {
  display: none;
}
nav .spmenu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  display: none;
  padding: 5px 0;
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
}

.close {
  position: absolute;
  top: 27.5px;
  right: 37.5px;
  color: #fff;
  font-size: 100px;
  font-weight: bold;
  cursor: pointer;
}
.topback {
  position: fixed;
  bottom: 10%;
  right: 5%;
  font-size: 2em;
  color: white;
  z-index: 1;
}
.reservation {
  position: fixed;
  bottom: 5%;
  right: 5%;
  font-size: 1.5em;
  color: white;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  nav .spmenu {
    width: 30%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .spmenu ul {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 100px;
  }
  .spmenu ul li {
    height: 50px 0px;
    margin: 0;
    font-size: 0.8em;
    text-align: right;
  }
  nav .spmenu li:nth-child(1) a {
    text-align: left;
    font-size: 2em;
  }
  nav .spmenu li:nth-child(6) a {
    text-align: left;
    font-size: 2em;
  }
  .close {
    top: 50px;
    right: 50px;
    font-size: 3em;
  }
}
@media screen and (min-width: 1130px) {
  .menubtn {
    right: 7%;
  }
}
@media screen and (min-width: 1200px) {
  .menubtn {
    display: none;
  }
  nav {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    height: 140px;
    transition: top 0.3s; /* スムーズなアニメーション */
    display: flex;
    justify-content: center;
  }
  .cafemenu {
    width: 30%;
    margin-right: 50px;
  }
  .staymenu {
    width: 30%;
    margin-left: 50px;
  }
  .pc {
    display: block;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
    position: relative;
  }
  .cafemenu .pc {
    display: flex;
    justify-content: flex-end;
  }
  .pc li {
    height: 50px;
  }
  .pc li:nth-child(n + 2) {
    width: fit-content;
    text-align: start;
  }
  .pc li a {
    text-decoration: none;
    color: white;
    font-size: 2em;
  }
  .pcmenu {
    display: block;
    width: 100px;
    height: 100px;
    position: relative;
  }
  .pcbeans {
    position: absolute;
    top: 15%;
    left: 0;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    animation: rotateAnimation 7s infinite; /* 2秒で1回転、無限ループ */
  }
  #pctext {
    text-align: center;
    margin-top: 50px;
    color: white;
  }
  .pc2 {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 10px;
  }
  .pc2:nth-child(1) li:nth-child(n + 2) {
    margin-right: 5%;
  }
  .pc2:nth-child(2) li:nth-child(n + 2) {
    margin-left: 5%;
  }
  .pc2 li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
  }
  @keyframes rotateAnimation {
    0% {
      transform: rotate(0deg); /* 開始時の角度 */
    }
    100% {
      transform: rotate(360deg); /* 360度回転 */
    }
  }
}
/* スライドショー */
/* main */
.border {
  border-bottom: 1px dashed white;
}
/* hero*/
.hero {
  position: relative;
}
.logo {
  width: 100px;
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 25px;
  transform: translateY(-50%);
}
.slide-container .active {
  opacity: 1;
}
.slide-container {
  position: relative;
  width: 100%;
  height: 50%;
  overflow: hidden;
  margin-bottom: 100px;
}
.slide-container img {
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
  height: 140px;
  position: absolute;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}
@media screen and (min-width: 768px) {
  .logo {
    top: 28%;
  }
  .slide-container img {
    height: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 240px;
  }
  .logo {
    top: 380px;
  }
  h2 {
    top: -70px;
  }
  .slide-container {
    width: 1200px;
    height: 280px;
    margin-bottom: 200px;
  }
  .slide-container img {
    border-radius: 8px;
    width: 1200px;
    height: 280px;
  }
}

/* info */
#info {
  margin-bottom: 75px;
  padding-top: 100px;
  position: relative;
}
h2 {
  text-align: left;
  color: #fff;
  font-size: 2.5em;
  position: absolute;
  top: -35px;
}

#info .border {
  position: absolute;
  top: 25px;
  left: 2%;
  width: 250px;
  margin-top: 50px;
}
.info-container {
  width: 300px;
  margin-left: 150px;
}
#info .info-new {
  width: 350px;
  height: fit-content;
  text-align: left;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
#info .info-old {
  width: 350px;
  height: fit-content;
  display: none;
  text-align: left;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
#info div p {
  color: #fff;
  padding: 5px;
}
#info div p span {
  padding-left: 10px;
}
.more-btn {
  position: absolute;
  top: 52.5px;
  left: 40%;
  cursor: pointer;
  width: 60px;
  height: 60px;
  font-size: 1.2em;
  color: white;
  border: white 1px solid;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 105px;
  left: 60px;
}
@media screen and (min-width: 1200px) {
  #info {
    width: 1200px;
    margin-bottom: 150px;
    padding-top: 200px;
  }
  #info .border {
    top: 50px;
    width: 500px;
    margin-top: 100px;
  }
  .info-container {
    width: 600px;
    margin-left: 300px;
  }
  #info .info-new {
    width: 700px;
  }
  #info .info-old {
    width: 700px;
  }
  #info div p {
    padding: 10px;
  }
  #info div p span {
    padding-left: 20px;
  }
  .more-btn {
    top: 105px;
    width: 120px;
    height: 120px;
    top: 210px;
    left: 120px;
  }
}
/* drink */
#drink {
  width: 600px;
  margin: auto;
  margin-bottom: 75px;
  padding-top: 75px;
  position: relative;
}
#drink .border {
  position: absolute;
  top: 25px;
  left: 2%;
  width: 250px;
  margin-top: 50px;
}
.drink-menu {
  margin: auto;
  margin-top: 25px;
  padding: 0 50px;
}
.drink-menu .container .square {
  width: 100px;
  height: 100px;
  color: white;
  border: white 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}

.drink-menu .container {
  margin: auto;
  margin-top: 50px;
  width: 450px;
  height: 275px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.drink-menu .container::before {
  width: 290px;
  height: 165px;
  z-index: -1;
  content: "";
  position: absolute;
  bottom: 62.5px;
  right: 165px;
  background: rgba(255, 255, 255, 0.643);
}
.drink-menu .container:after {
  width: 500px;
  height: 5px;
  content: "";
  position: absolute;
  bottom: 35px;
  left: -50px;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    white,
    rgba(255, 255, 255, 0)
  );
}
.drink-menu .container img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 65px;
  margin-right: 50px;
}

@media screen and (min-width: 1200px) {
  #drink {
    width: 1200px;
    margin-bottom: 150px;
    padding-top: 150px;
  }
  #drink .border {
    top: 50px;
    width: 500px;
    margin-top: 100px;
  }
  .square {
    border-radius: 50%;
    font-size: 0.5em;
  }
  .drink-menu .container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
  }
  .drink-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px 600px 600px;
    gap: 50px;
  }
  .drink-menu .container .square {
    width: 130px;
    height: 130px;
    position: absolute;
    top: 80px;
    left: -10px;
  }
  .drink-menu .container img {
    width: 450px;
    height: 300px;
    object-fit: cover;
    margin: 0 auto 50px;
  }
  .drink-menu .container::before {
    width: 420px;
    height: 270px;
    position: absolute;
    top: 48%;
    left: -4%;
  }
  .drink-menu .container:nth-last-of-type(odd)::after {
    bottom: 0;
    left: -70px;
    width: 270%;
  }
  .drink-menu .container:nth-of-type(even)::after {
    display: none;
  }
}
/* food */
#food {
  width: 600px;
  margin-bottom: 75px;
  padding-top: 75px;
  position: relative;
  margin: auto;
}
#food .border {
  width: 250px;
  margin-top: 50px;
  border-bottom: 1px dashed white;
  position: absolute;
  top: 25px;
  left: 2%;
  display: flex;
}
.food-menu {
  margin: auto;
  margin-bottom: 75px;
  padding: 0 50px;
}
.food-menu .container .square {
  width: 100px;
  height: 100px;
  color: white;
  border: white 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 75px;
}
.food-menu .container {
  margin: auto;
  margin-top: 50px;
  width: 450px;
  height: 275px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.food-menu .container::before {
  width: 300px;
  height: 165px;
  z-index: -1;
  content: "";
  position: absolute;
  bottom: 60px;
  left: 165px;
  background: rgba(255, 255, 255, 0.643);
}
.food-menu .container::after {
  width: 500px;
  height: 5px;
  content: "";
  position: absolute;
  bottom: 35px;
  left: -50px;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    white,
    rgba(255, 255, 255, 0)
  );
}
.food-menu .container img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 65px;
  margin-left: 50px;
}
@media screen and (min-width: 1200px) {
  #food {
    width: 1200px;
    margin-bottom: 150px;
    padding-top: 150px;
  }
  #food .border {
    width: 500px;
    margin-top: 100px;
    top: 50px;
  }
  .food-menu .container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }
  .food-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px 600px;
    gap: 50px;
  }
  .food-menu .container .square {
    width: 130px;
    height: 130px;
    position: absolute;
    top: 80px;
    left: 0;
  }
  .food-menu .container img {
    width: 450px;
    height: 300px;
    object-fit: cover;
    margin: 0 auto 50px;
  }
  .food-menu .container::before {
    width: 420px;
    height: 270px;
    position: absolute;
    top: 48%;
    left: 9%;
  }
  .food-menu .container:nth-of-type(odd)::after {
    bottom: 0;
    left: -70px;
    width: 270%;
  }
  .food-menu .container:nth-of-type(even)::after {
    display: none;
  }
}
/* access */
#access {
  width: 600px;
  margin-bottom: 25px;
  padding-top: 75px;
  position: relative;
  margin: auto;
}
#access .border {
  position: absolute;
  top: 25px;
  left: 2%;
  width: 250px;
  margin-top: 50px;
}
#access .container div a {
  text-decoration: none;
  color: white;
}
#map-sepia {
  filter: sepia(100%);
}

#access .container {
  width: 600px;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  line-height: 17.5px;
}
.concept {
  width: 100%;
  height: 400px;
}
@media screen and (min-width: 1200px) {
  #access {
    width: 1200px;
    margin-bottom: 50px;
    padding-top: 150px;
  }
  #access .border {
    top: 50px;
    width: 500px;
    margin-top: 100px;
  }
  #access .container {
    width: 1200px;
    margin-top: 100px;
    line-height: 35px;
  }
  .concept {
    height: 800px;
  }
}
/* flipbook */
.flipbook {
  position: relative;
  width: 100%; /* 画像の横幅 */
  height: 350px;
  overflow: hidden;
}

.flipbook img {
  position: absolute;
  top: 75px;
  left: 50px;
  width: 200px;
  height: 200px;
  display: none; /* 最初は全て非表示 */
  z-index: 999;
}
@media screen and (min-width: 1200px) {
  .flipbook {
    height: 350px;
  }

  .flipbook img {
    top: 75px;
    left: 50px;
    width: 200px;
    height: 200px;
    z-index: 999;
  }
}
/* steam */
.concept {
  height: 350px;
  position: relative;
}
.concept p {
  display: block;
  position: absolute;
  width: 300px;
  font-size: 1.5em;
  top: 25px;
  left: 256px;
  color: white;
}
.steam {
  position: absolute;
  z-index: -1;
  width: 375px;
  opacity: 0.3;
  animation: rise 5.4s infinite linear;
}

@keyframes rise {
  0% {
    top: -15px;
    left: 150px;
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    top: -45px;
    left: 175px;
    opacity: 0;
  }
}
iframe {
  width: 300px;
  height: 150px;
}
@media screen and (min-width: 1200px) {
  .concept {
    height: 350px;
  }
  .concept p {
    width: 300px;
    top: 25px;
    left: 256px;
  }
  .steam {
    width: 375px;
  }

  @keyframes rise {
    0% {
      top: -15px;
      left: 150px;
      opacity: 0;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      top: -45px;
      left: 175px;
      opacity: 0;
    }
  }
  iframe {
    width: 600px;
    height: 150px;
  }
}
/* footer */
footer div {
  width: 600px;
  margin: auto;
  text-align: center;
}
footer div p {
  color: white;
}
@media screen and (min-width: 1200px) {
  footer div {
    width: 1200px;
  }
}
