/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(#41342b, #9e4133, #41342b);
}
img {
  width: 100%;
  vertical-align: bottom;
}
.wrapper {
  width: 1130px;
  margin: 0 auto;
}
/* menu */
.menubtn {
  z-index: 999;
  width: 60px;
  height: 60px;
  position: fixed;
  top: 0.5%;
  left: 1%;
  border: 2px solid rgb(255, 255, 255);
  display: flex;
  border-radius: 50%;
  cursor: pointer;
}
#menutext {
  width: 40px;
  height: 4px;
  margin: 5px 0;
  position: absolute;
  top: 10px;
  left: 6px;
  color: rgb(255, 255, 255);
}
.menu {
  display: none;
  justify-content: center;
  background-color: #333;
  padding: 10px 0;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
}

.menu ul {
  list-style-type: none;
  display: flex;
}

.menu ul li {
  margin: 0 20px;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.menu ul li a:hover {
  text-decoration: underline;
}
.menu ul {
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.menu li {
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .menu {
    display: none;
  }
}
.menu {
  position: fixed;
  width: 10%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-content: flex-start;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
/* スライドショー */
.main .active {
  opacity: 1;
}
#size {
  object-position: 0px -200px;
}
/* main */
h1 {
  writing-mode: vertical-rl;
  position: absolute;
  bottom: 60px;
  left: 35px;
  color: #fff;
  padding: 20px;
}
h2 {
  text-align: left;
  color: #fff;
  font-size: 2.5em;
  position: absolute;
  top: -70px;
}
.main {
  position: relative;
  width: 1130px;
  height: 280px;
  overflow: hidden;
  margin-bottom: 200px;
}
.main img {
  border-radius: 8px;
  object-fit: cover;
  width: 1130px;
  height: 280px;
  position: absolute;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}
/* info */
#info {
  width: 1130px;
  margin-bottom: 150px;
  padding-top: 250px;
  position: relative;
}
.border {
  border-bottom: 1px dashed white;
}
#info .border {
  position: absolute;
  top: 50px;
  left: 2%;
  width: 300px;
  margin-top: 100px;
}
.right-container {
  width: 700px;
  margin-left: 350px;
}
button {
  position: absolute;
  top: 105px;
  left: 40%;
}
#info .info-new {
  width: 700px;
  height: fit-content;
  text-align: left;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
#info .info-old {
  width: 700px;
  height: fit-content;
  display: none;
  text-align: left;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
#info div p {
  color: #fff;
  padding: 10px;
}
#info div p span {
  padding-left: 20px;
}
.btn {
  width: 60px;
  height: 60px;
  font-size: 1.2rem;
  color: white;
  border: white 2px solid;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  margin: 30px;
}
/* drink */
#drink {
  width: 1130px;
  margin-bottom: 150px;
  padding-top: 150px;
  position: relative;
}
#drink .border {
  position: absolute;
  top: 50px;
  left: 2%;
  width: 300px;
  margin-top: 100px;
}
.drink-menu {
  width: 1130px;
  margin: auto;
  margin-top: 50px;
}
.drink-menu .container .square {
  width: 200px;
  height: 200px;
  color: white;
  border: white 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 145px;
}
.drink-menu .container {
  margin: auto;
  margin-top: 100px;
  width: 900px;
  height: 550px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.drink-menu .container::before {
  width: 580px;
  height: 380px;
  z-index: -1;
  content: "";
  position: absolute;
  bottom: 125px;
  right: 330px;
  background: rgba(255, 255, 255, 0.643);
}
.drink-menu .container:after {
  width: 1100px;
  height: 10px;
  content: "";
  position: absolute;
  bottom: 70px;
  left: -100px;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    white,
    rgba(255, 255, 255, 0)
  );
}
.drink-menu .container img {
  width: 600px;
  height: 400px;
  object-fit: cover;
  margin-bottom: 135px;
  margin-right: 100px;
}

/* food */
#food {
  margin-bottom: 150px;
  padding-top: 150px;
  position: relative;
}
#food .border {
  width: 300px;
  margin-top: 100px;
  border-bottom: 1px dashed white;
  position: absolute;
  top: 50px;
  left: 2%;
  display: flex;
}
.food-menu {
  width: 1130px;
  margin: auto;
  margin-bottom: 150px;
}
.food-menu .container .square {
  width: 200px;
  height: 200px;
  color: white;
  border: white 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 145px;
}
.food-menu .container {
  margin: auto;
  margin-top: 100px;
  width: 900px;
  height: 550px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.food-menu .container::before {
  width: 580px;
  height: 380px;
  z-index: -1;
  content: "";
  position: absolute;
  bottom: 125px;
  left: 330px;
  background: rgba(255, 255, 255, 0.643);
}
.food-menu .container:after {
  width: 1100px;
  height: 10px;
  content: "";
  position: absolute;
  bottom: 70px;
  left: -100px;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    white,
    rgba(255, 255, 255, 0)
  );
}
.food-menu .container img {
  width: 600px;
  height: 400px;
  object-fit: cover;
  margin-bottom: 135px;
  margin-left: 100px;
}
/* shop */
#shop {
  width: 1130px;
  margin-bottom: 150px;
  padding-top: 150px;
  position: relative;
}
#shop .border {
  position: absolute;
  top: 50px;
  left: 2%;
  width: 300px;
  margin-top: 100px;
}
/* #map-sepia {
  height: 300px;
  width: 50%;
  filter: sepia(100%);
} */
#map-grayscale {
  width: fit-content;
  /* filter: grayscale(100%); //白黒に変換 */
}
.container {
  width: 1130px;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  line-height: 35px;
}
/* footer */
footer div {
  width: 1130px;
  margin: auto;
  text-align: center;
}
footer div p {
  color: white;
}
